@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}

.bg-blue-600 {
  background: #3929eb;
}

.bg-green-600 {
  background-color: #049669;
}

.bg-purple-600 {
  background-color: #7730db;
}

.bg-red-600 {
  background-color: #a70b34;
}


.swiper-box {
  /* box-shadow:  0px 0px 30px 8px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.2);

}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #293241;

  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourTeam .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

}

.ourTeam .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 50vh;
  background-color: #f4f4f4;
}

@media screen and (min-width: 1000px) {
  .ourTeam .swiper-slide {
    width: 400px;
    height: 56vh;
  }
}

.ourTeam .swiper-slide img {
  display: block;
  width: 100%;
}

.t-card-cntnt {
  transition: transform 500ms;
}

.t-card:hover .t-card-cntnt {
  transform: translateY(-200px);
}


.navbar {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 10px;
}

.nav-links-highlight {
  list-style: none;
  color: white;
  border: solid 1px #EE6C4D;
  border-radius: 100px;
  background: #EE6C4D;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px 5px 10px;
}

.nav-links:hover,
.nav-links-highlight:hover {
  color: black;
  transform: scale(1.1);
  font-weight: 500;
  transition: all 0.2s ease-out;
}

.nav-links-highlight:hover {
  color: white;
}

.fa-align-right {
  color: black;
}


@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 10;
  }

  .nav-menu {
    overflow: hidden;
    display: flex;
    padding-top: 50px;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    height: 100vh;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links,
  .nav-links-highlight {
    text-align: center;
    padding: 1.2rem;
    width: 100%;
    display: table;
  }

  .nav-links-highlight {
    width: 55%;
    margin-left: 25%;
    margin-top: 15%;
    list-style: none;
    color: white;
    border: solid 1px #EE6C4D;
    border-radius: 100px;
    background: #EE6C4D;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px 5px 10px;
  }

  .nav-links:hover {
    background-color: white;
  }
}

.bead {
  background-color: #d97705;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;

}



  .slide-left {
    position: relative;
    animation: slide-l 0.6s ease-in 1 0s none;
  }

  @keyframes slide-l {
    0% {
      opacity: 0;
      transform: scale(1);
      box-shadow: 0px 0px 10px 6px rgb(8, 253, 216);
      left: 150px
    }

    100% {
      transform: scale(1);
      box-shadow: 0px 0px 15px 6px rgb(8, 253, 216);
      left: 0px;
    }
  }

  .slide-right {
    position: relative;
    animation: slide-r 0.6s ease-in 1 0s none;
  }

  @keyframes slide-r {
    0% {
      opacity: 0;
      transform: scale(1);
      box-shadow: 0px 0px 10px 6px rgb(8, 253, 216);
      right: 150px;
    }

    100% {
      transform: scale(1);
      box-shadow: 0px 0px 15px 6px rgb(8, 253, 216);
      right: 0px;
    }
  }

  .slide-top{  
    position: relative;
    animation: slide 1s ease-in 1 0s none;
  }
  .slide-left-v {
    position: relative;
    animation: slide-l 0.6s ease-in 1 0s none;
  }
  @keyframes slide-l {
    0% {
      opacity: 0;
      transform: scale(1);
      left: 150px
    }

    100% {
      transform: scale(1);
      left: 0px;
    }
  }

  @keyframes slide {
    0%{
      opacity: 0;
      transform: scale(1);
        
      top:150px
    }
    100%{
      transform: scale(1);
      top:0px;
    }
  }
  .slide-right-v {
    position: relative;
    animation: slide-r 0.6s ease-in 1 0s none;
  }

  @keyframes slide-r {
    0% {
      opacity: 0;
      transform: scale(1);
      right: 150px;
    }

    100% {
      transform: scale(1);
      right: 0px;
    }
  }
